@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

body{
  min-width: 100%;
  height: auto;
  margin: 0;
  font-family: 'Montserrat', sans-serif;

}
img{
  max-width: 100%;
  height: auto;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}





.site-logo img{
  max-width: 3em;
  height: auto;

  margin: 20px;

  z-index: 1;
}

/* *******************  NAVIGATION  ********************* */

.site-header{
  display: flex;
}

.menuToggle
{
  display: block;
  position: absolute;
  top: 2em;
  right: 2em;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

.menuToggle ul li
{
  
  
  transition: color 0.3s ease;
}

.menuToggle ul li:hover
{
  color: tomato;
}


.menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -0.5em;
  /* right: 0.01em; */
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */

.hamburger{
  position: relative;
  top: 0.75em;
  right: 5em;
}


.menuToggle  span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  
  background: #644A53;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

.menuToggle .hamburger span:first-child
{
  transform-origin: 0% 0%;
}

.menuToggle .hamburger span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
.menuToggle input:checked ~.hamburger span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
 * But let's hide the middle one.
 */
.menuToggle input:checked ~.hamburger span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
.menuToggle input:checked ~.hamburger span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
.nav-uo-list
{
  position: absolute;
  min-width: 300px;
  height: 100vh;
  margin: -100px 0 0 70px;
  padding: 50px;
  padding-top: 125px;
  top: 0;
  right: -100%;
  
  background: #F4F8FF;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translateX(100%);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

.nav-uo-list li
{
  padding: 10px 0;
  font-size: 22px;
}

.nav-uo-list a{
  text-decoration: none;
  color: #ca7342;
}

.nav-donate a h3{
  color: #644A53;
  max-width: 40%;
  margin: auto;
  background-color: #ffeda7;
  padding: 20px 20px 20px 20px;
  border-radius: 50px;
  text-transform: uppercase;
  font-size: 12pt;
  letter-spacing: 2px;
}

/*
 * And let's slide it in from the left
 */
.menuToggle input:checked ~ ul
{
  transform: none;
}
/* 
.nav-uo-list a:target ~ ul{
  transform: 
} */

h1.intro-heading{
  color: #ca7342;
  margin: 10px;
}
p.intro-text{
  color: #644A53;
  font-weight: 500;
  font-size: 16pt;
  letter-spacing: 0.4px;
  margin-left: 20px;
  margin-right: 20px;
}

div.home-LearnMore-button button{
  color: #644A53;
  background-color: #fff;
  font-weight: 600;
  letter-spacing: 0.5px;
  padding: 10px 25px;
  border-radius: 50px;
  border: 5px solid #ffeda7;
  margin-top: 25px;
}

/* ***************************************** */
/* ***************************************** */
/*             Action Cards                  */
/* ***************************************** */
/* ***************************************** */

.home-main-action{
  background-color: #F4F8FF;
}

.home-main-action h2{
  color: #ca7342;
  margin: 0;
  padding-bottom: 50px;
}

.home-main-action h2:first-of-type{
  margin-bottom: 0;
  padding-top: 45px;
  padding-bottom: 5px;
}



.home-main-action h3, .home-main-action p{
  color: #644A53;
}

.home-main-action p{
  max-width: 60%;
  margin: auto;
  font-size: 12pt;
}

.home-main-action img{
  max-width: 10rem;
  height: auto;
}

p.action-block-desc{
  margin-bottom: 30px;
}

.home-main-action .home-main-action-block .action-block-desc:nth-child(3){
  padding-bottom: 50px;
}

/* ***************************************** */
/* ***************************************** */
/*                   Map                     */
/* ***************************************** */
/* ***************************************** */

svg g{
  max-width: 100%;
  height: auto;
}

/* ***************************************** */
/* ***************************************** */
/*              Newsletter                   */
/* ***************************************** */
/* ***************************************** */

.newsletter-intro h2{
  color: #ca7342;
  margin-top: 50px;
}

.newsletter-image img{
  max-width: 12rem;
}

.newsletter-form-email input{
  min-width: 80%;
  margin: 20px 10px;
  padding: 20px;
  background-color: #F4F8FF;
  color: #644A53;
  border: 0;
  border-radius: 50px;
}

.newsletter-form-submitBtn button{
  font-family: Montserrat;
  background-color: #ffeda7;
  color: #644A53;
  padding: 20px 30px;
  border-radius: 50px;
  border: 0;
  font-weight: bold;
  letter-spacing: 1px;
  margin-bottom: 70px;
}

/* ***************************************** */
/* ***************************************** */
/*                 Footer                    */
/* ***************************************** */
/* ***************************************** */

footer{
  background-color: #F4F8FF;
  color: #644A53;
}

.site-footer1 .site-logo img{
  max-width: 7rem;
  padding-top: 20px;
}

.footer1-text{
  max-width: 90%;
  padding: 30px 10px;
  color: #644A53;
  border-bottom: 1px solid #644A53;
  margin: auto;

}

p.footer2-text1{
  margin-top: 30px;
}

/* ***************************************** */
/* ***************************************** */
/*               Canada Map                  */
/* ***************************************** */
/* ***************************************** */


svg {
  background: white;
  max-width: 100%;
  height: auto;
}

.state {
  fill: #F4F8FF;
  stroke: #B2D8FF;
  stroke-width: 1;
}

.selected {
  fill: #FFEDA7;
  stroke: #CA7342;
  stroke-width: 2;
}

.state-label{
  font-size: 10pt;
}

/* ***************************************** */
/* ***************************************** */
/*             Discovery Page                */
/* ***************************************** */
/* ***************************************** */


/* .disc-main-image img{
  max-width: 100%;
  height: auto;
}

.disc-main-image{
  max-width: 100%;
  height: auto;
} */

/* *******************Search and Filter********************* */

.disc-navigation {
  display: flex;
  justify-content: space-between;
}

.disc-nav-search{
  max-width: 30%;
  height: auto;
}
.navigation-filter{
  max-width: 50%;
  height: auto;
}

.disc-navigation img{
  max-width: 17%;
  height: auto;
}

.navigation-filter button{
  border: 0;
  background-color: white;
  display: flex;
  justify-content: flex-end;
  /* margin-left: 50px; */
}

.navigation-filter button img{
  max-width: 12%;
  height: 12%;
  margin: auto 0px;
}

.navigation-filter button p{
  margin-left: 10px;
  font-size: 14pt;
  letter-spacing: 2px;
  color: #CA7342;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}

.site-disc-main-animalCards{
  display: flex;
  flex-direction: column;
}

.disc-main-aniCard{
  max-width: 90%;
  height: auto;
  margin: auto;
  background-color: #F4F8FF;
  margin-bottom: 40px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.disc-main-aniCard img{
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.aniCard-name{
  color: #644A53;
  font-size: 14pt;
}

.aniCard-location img, .aniCard-population img, .aniCard-status img{
  max-height: 25px;
}

.aniCard-location img{
  margin-left: 30px;
}
.aniCard-population img{
  max-height: 23px;
  margin-left: 29px;
}
.aniCard-status img{
  margin-left: 36.5px;
}

.aniCard-location-text p, .aniCard-population-text p, .aniCard-status-text p{
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  letter-spacing: 0.5px;
  color: #644A53;
}

.aniCard-location-text p{
  margin: auto 0 auto 30px;
}

.aniCard-population-text p{
  margin: auto 0 auto 29px;
}

.aniCard-status-text p{
  margin: auto 0 auto 34px;
}

.aniCard-location, .aniCard-population, .aniCard-status{
  display: flex;
  margin-bottom: 20px;
}

.aniCard-more-button{
  display: flex;
  margin-left: 25px;
}

#readMoreBtn{
  margin-bottom: 30px;
  /* max-width: 50%; */
  background-color: #F4F8FF;
  border: 0;
  font-size: 14pt;
  letter-spacing: 2px;
  font-weight: 800;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  color: #CA7342;
}

.disc-main-discLoadMore button{
  color: #644A53;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  background-color: #fff;
  font-size: 12pt;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 15px 25px;
  border-radius: 50px;
  border: 5px solid #ffeda7;
  margin-top: 25px;
  margin-bottom: 60px;
}

.discDet-main-animalDet{
  text-align: left;
  max-width: 90%;
  margin: auto;
}

.animalDet-heading{
  color: #CA7342;
}

.animalDet-name{
  color: #CA7342;
}

.animalDet-sciName-text{
  font-size: 10pt;
  color: grey;
}

.animalDet-status-text{
  font-family: Montserrat;
  background-color: #ffeda7;
  color: #644A53;
  width: fit-content;
  padding: 20px 30px;
  border-radius: 50px;
  border: 0;
  font-weight: bold;
  letter-spacing: 1px;
  margin: 50px auto;
}

.animalDet-average{
  display: flex;
  justify-content: space-between;
}

.animalDet-average h3{
  font-weight: 400;
  font-size: 10pt;
  color: #CA7342;
  margin-bottom: 0;
}

.animalDet-average p{
  font-weight: bold;
  font-size: 18pt;
  color: #644A53;
  margin-top: 10px;
}

.animalDet-threats{
  display: flex;
  color: #644A53;
}

.animalDet-threats h3{
  font-size: 12pt;
  margin-right: 5px;
}

.animalDet-description{
  color: #644A53;
  font-size: 10pt;
  margin-bottom: 50px;
}


.discDet-main-popChart{
  padding: 50px 10px;
  background-color: #F4F8FF;
  text-align: left;
  margin-bottom: 70px;
}

.popChart-heading h3{
  color: #CA7342;
  font-size: 12pt;
  letter-spacing: 1px;
  max-width: 90%;
  margin: auto;
}

.popChart-text{
  display: flex;
  max-width: 90%;
  margin: auto;
}

.popChart-text h2{
  font-size: 12pt;
  color: #644A53;
  margin-right: 5px;
}

.popChart-text p{
  color: #644A53;
  margin: auto 0;
}

.highcharts-background{
  fill: #F4F8FF;
}

.highcharts-tracker-line{
  stroke: #CA7342;
  stroke-width: 1;
}

.highcharts-point{
  fill: #CA7342;
}

.highcharts-title{
  visibility: hidden;
}

.highcharts-axis-labels text{
  color: #644A53;
}

.whyMatter-heading h3{
  text-align: left;
  color: #CA7342;
  max-width: 90%;
  margin: 0 auto 30px auto;
  letter-spacing: 1px;
  font-size: 12pt;
}

.whyMatter-image{
  max-width: 90%;
  margin: auto;
}

.whyMatter-text{
  text-align: left;
  max-width: 90%;
  margin: 30px auto 20px auto;
  font-size: 10pt;
  color: #644A53;
  font-family: 'Montserrat', sans-serif;
}

.whyMatter-donate{
  display: flex;
  max-width: 90%;
  margin: auto;
}

.whyMatter-donate button{
  font-family: Montserrat;
  background-color: #ffeda7;
  color: #644A53;
  width: fit-content;
  padding: 16px 30px;
  border-radius: 50px;
  border: 0;
  font-size: 13pt;
  font-weight: bold;
  letter-spacing: 1px;
  margin-bottom: 100px;
}

.discDet-main-relatedAnimals-heading{
  text-align: left;
  color: #CA7342;
  max-width: 90%;
  margin: 0 auto 70px auto;
  letter-spacing: 1px;
  font-size: 12pt;
}


/* ***************************************** */
/* ***************************************** */
/*             Discovery Page                */
/* ***************************************** */
/* ***************************************** */

.articles-intro{
  max-width: 90%;
  margin: auto;
}

.articles-intro-heading h1{
  color: #CA7342;
  margin-bottom: 7px;
}

.articles-intro-text p{
  color: #644A53;
  letter-spacing: 0.2px;
  margin-top: 0;
}

.articles-image{
  margin-bottom: 70px;
}

.artCard-image, .artCard-name, .artCard-author, .artCard-description{
  max-width: 90%;
  margin: auto;
  text-align: left;
}

.artCard-name h2{
  color: #CA7342;
  margin-bottom: 10px;
}

.artCard-author p{
  color: #644A53;
  font-size: 10pt;
  font-weight: 600;
  margin-top: 0;;
}

.artCard-description p{
  color: #644A53;
  font-size: 10pt;
}

.artCard-more-button{
  text-align: left;
  max-width: 90%;
  margin: auto;
}

.artCard-more-button button{
  margin-bottom: 20px;
  background-color: #fff;
  border: 0;
  font-size: 14pt;
  letter-spacing: 2px;
  font-weight: 800;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  color: #CA7342;
  padding: 0;
}

.articles-LoadMore-button button{
  color: #644A53;
  text-transform: uppercase;
  background-color: #fff;
  font-size: 14pt;
  font-weight: bold;
  letter-spacing: 0.5px;
  padding: 10px 25px;
  border-radius: 50px;
  border: 4px solid #ffeda7;
  margin: 50px auto 50px auto;
}


/* ***************************************** */
/* ***************************************** */
/*              Articles Page                */
/* ***************************************** */
/* ***************************************** */

.aboutUs-intro{
  max-width: 60%;
  margin: auto;
}

.aboutUs-intro-heading{
  color: #CA7342;
}

.aboutUs-intro-text{
  color: #644A53;
}

.aboutUs-desc-heading{
  color: #CA7342;
  margin-top: 50px;
}

.aboutUs-desc-text{
  max-width: 90%;
  margin: auto;
  font-size: 10pt;
  color: #644A53;
}

.aboutUs-title{
  color: #CA7342;
  margin: 50px 0;
}

.aboutUs-card-image img{
  max-width: 90%;
  margin: auto;
  border-radius: 30px;
}

.aboutUs-card-name{
  color: #CA7342;
  font-size: 16pt;
  margin-bottom: 0;
}

.aboutUs-card-role{
  color: #644A53;
  font-size: 14pt;
  margin-top: -10px;
}

.aboutUs-card-desc{
  max-width: 90%;
  margin: auto;
  font-size: 10pt;
  color: #644A53;
}

.aboutUs-card-social{
  max-width: 90%;
  margin: auto;
  font-size: 12pt;
  color: #644A53;
  margin-bottom: 100px;
}

/* ***************************************** */
/* ***************************************** */
/*              Articles Page                */
/* ***************************************** */
/* ***************************************** */


.contact-intro-heading{
  max-width: 60%;
  margin: auto;
  color: #CA7342;
}

.contact-intro-text{
  color: #644A53;
  max-width: 80%;
  margin: auto;
  font-weight: 500;
}

.contact-desc-heading{
  max-width: 90%;
  text-align: left;
  margin: auto;
  color: #CA7342;
}

.contact-desc-text{
  max-width: 90%;
  text-align: left;
  margin: auto;
  color: #644A53;
  font-size: 10pt;
  margin-bottom: 30px;;
}

.contact-contactForm{
  text-align: left;
  margin-left: 3.75%;
}

.contact-contactForm input{
  width: 85%;
  margin: auto auto 20px auto;
  border: 0;
  background-color: #F4F8FF;
  padding: 15px;
  border-radius: 50px;
}

.contact-contactForm-details textarea{
  width: 85%;
  margin: 20px auto 20px auto;
  border: 0;
  background-color: #F4F8FF;
  padding: 20px 15px 300px 20px;
  border-radius: 30px;
}



.contact-contactForm button{
  font-family: Montserrat;
  text-transform: uppercase;
  background-color: #ffeda7;
  color: #644A53;
  padding: 15px 30px;
  border-radius: 50px;
  border: 0;
  font-weight: bold;
  letter-spacing: 1px;
  margin-bottom: 70px;
}

.contact-location-heading{
  color: #CA7342;
  text-align: left;
  max-width: 90%;
  margin: 0 auto;
}

.contact-location-text{
  color: #644A53;
  text-align: left;
  max-width: 90%;
  margin: 10px auto;
  font-size: 10pt;
}

.contact-location-map{
  margin: 50px auto;
}

.contact-location-info-add, .contact-location-info-phone{
  display: flex;
  margin-bottom: 20px;
}

.contact-location-info-add img{
  margin-left: 30px;
  max-height: 25px;
}

.contact-location-info-add p{
  margin: auto 0 auto 30px;
}

.contact-location-info-phone img{
  margin-left: 36.5px;
  max-height: 25px;
}

.contact-location-info-phone p{
  margin: auto 0 auto 25px;
}

.contact-location-info-add p, .contact-location-info-phone p{
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  text-align: left;
  font-size: 10pt;
  letter-spacing: 0.5px;
  color: #644A53;
}



/* ***************************************** */
/* ***************************************** */
/*              Donations Page               */
/* ***************************************** */
/* ***************************************** */

.donate-intro-heading{
  max-width: 80%;
  margin: auto;
  color: #CA7342;
}

.donate-intro-text{
  color: #644A53;
  max-width: 55%;
  margin: auto;
  font-weight: 500;
}

.donate-image{
  margin-top: 50px;
  margin-bottom: 0;
}

.donate-main{
  background-color: #F4F8FF;
  margin-top: -20px;
  padding-top: 70px;
  padding-bottom: 70px;
}

.donate-desc-heading{
  max-width: 85%;
  margin: auto;
  color: #CA7342;
}

.donate-desc-text{
  max-width: 80%;
  margin: auto;
  color: #644A53;
  font-size: 11pt;
  font-weight: 500;
  margin-bottom: 70px;
}

.donate-card-image{
  max-width: 35%;
  margin: auto;
}

.donate-card-name{
  color: #CA7342;
}

.donate-card-desc{
  max-width: 80%;
  margin: auto;
  color: #644A53;
  font-size: 10pt;
}

.donate-how-heading{
  color: #CA7342;
  margin-top: 70px;
}

.donate-how-text{
  font-size: 10pt;
  max-width: 85%;
  margin: auto;
}

.donate-how-image{
  max-width: 90%;
  margin: auto;
  margin-top: 50px;
}

.donate-button button{
  color: #644A53;
  max-width: 50%;
  margin: auto;
  background-color: #ffeda7;
  padding: 12px 25px;
  border-radius: 50px;
  text-transform: uppercase;
  font-size: 12pt;
  font-weight: bold;
  border: 0;
  letter-spacing: 2px;
  margin-top: 30px;
  margin-bottom: 70px;
}