@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

body{
  min-width: 100%;
  height: auto;
  margin: 0;
  font-family: 'Montserrat', sans-serif;

}
img{
  max-width: 100%;
  height: auto;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}





.site-logo img{
  max-width: 3em;
  height: auto;

  margin: 20px 20px 20px 0;

  z-index: 1;
}

/* *******************  NAVIGATION  ********************* */

.toolbar {
  /* position: fixed; */
  width: 100%;
  top: 0;
  left: 0;
}

.toolbar-nav{
  display: flex;
  align-items: center;
}

.toolbar-nav-items a{
  color: #644A53;
  text-decoration: none;
  font-size: 22px;
}

.toolbar-nav-items ul{
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  /* justify-content: space-around; */
}
.spacer{
  flex: 1;
}

.toolbar-nav-items li{
  padding: 0 1rem;
}

.toggle-button{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  margin: 1rem;
  align-items: flex-end;
  background: transparent;
  border: none;
  cursor: pointer;
}

.toggle-button:focus{
  outline: none;
}

.toggle-line{
  width: 30px;
  height: 2px;
  background: #644A53;
}

.toggle-middle-line{
  width: 15px;
  height: 2px;
  background: #644A53;
}

.close-button-first-line{
  width: 30px;
  position: fixed;
  height: 2px;
  background: #644A53;
  transform: rotate(45deg);
}

.close-button-second-line{
  width: 30px;
  height: 2px;
  background: #644A53;
  margin-bottom: 10px;
  transform: rotate(-45deg);
}

.mobile-menu{
  height: 100%;
  background-color: #F4F8FF;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
}

.mobile-menu.open{
  transform: translateX(0);
}



.mobile-menu-head .site-logo img{
  display: flex;
}

.mobile-menu-nav ul li a{
  text-decoration: none;
  color: #CA7342;
  font-weight: bold;
  font-size: 18pt
}

.mobile-menu-nav ul{
  list-style-type: none;
  display: flex;
  flex-direction: column;
  height: 80%;
  padding-left: 0;
}

.mobile-menu-nav ul li{
  margin-bottom: 45px;
}

.mobile-menu-nav ul li:first-of-type{
  margin-top: 50px;
}

.donate-button a{
  color: #644A53 !important;
  max-width: 40%;
  /* margin: auto; */
  /* margin-top: 100p; */
  background-color: #ffeda7;
  padding: 20px 20px 20px 20px;
  border-radius: 50px;
  text-transform: uppercase;
  font-size: 12pt !important;
  letter-spacing: 2px;
}

button.close-button{
  margin: 40px 30px;
  border: none;
  background-color: transparent;
  position: absolute;
  top: 0;
  right: 0;
}

@media only screen and (max-width: 780px) {
  .toolbar-nav-items{
    display: none;
  }
}

@media only screen and (min-width: 781px) {
  .mobile-menu, .toggle-button{
    display: none;
  }

  .toolbar-nav{
    max-width: 80%;
    margin: auto;
  }

  .toolbar-nav-items a{
    color: #644A53;
    text-decoration: none;
    font-size: 12pt;
    font-weight: 600;
  }

  .donate-desktop-button a{
    color: #644A53 !important;
    max-width: 40%;
    background-color: #ffeda7;
    padding: 15px 20px 15px 20px;
    border-radius: 50px;
    text-transform: uppercase;
    font-size: 12pt !important;
    font-weight: 600;
    letter-spacing: 2px;
  }
}

/* ***************************************** */
.home-main-intro{
  max-width: 75%;
  margin: auto;
}

.home-main-intro .intro-heading{
  color: #CA7342;
}

.home-main-intro .intro-text{
  color: #644A53;
}

.home-main-map-title{
  max-width: 90%;
  margin: auto;
}

.home-main-map-title .home-main-map-title-heading{
  color: #CA7342;
}

.home-main-map-title .home-main-map-title-text{
  color: #644A53;
}

/* ***************************************** */
/* ***************************************** */
/*             Action Cards                  */
/* ***************************************** */
/* ***************************************** */

.home-main-action{
  background-color: #F4F8FF;
}

.home-main-action h2{
  color: #ca7342;
  margin: 0;
  padding-bottom: 50px;
}

.home-main-action h2:first-of-type{
  margin-bottom: 0;
  padding-top: 45px;
  padding-bottom: 5px;
}

.action-block a{
  text-decoration: none;
}

.home-main-action h3, .home-main-action p{
  color: #644A53;
}

.home-main-action p{
  max-width: 60%;
  margin: auto;
  font-size: 12pt;
}

.home-main-action img{
  max-width: 10rem;
  height: auto;
}

p.action-block-desc{
  margin-bottom: 30px;
}

.home-main-action .home-main-action-block .action-block-desc:nth-child(3){
  padding-bottom: 50px;
}
@media only screen and (min-width: 781px) {
  .action-block {
    display: flex;

  }
  .action-block a{
    flex-grow: 1;
  }
}
/* ***************************************** */
/* ***************************************** */
/*                   Map                     */
/* ***************************************** */
/* ***************************************** */

svg g{
  max-width: 100%;
  height: auto;
}

.canada-map-click-habitat p{
  font-weight: 600;
  color: #644A53;
  max-width: 60%;
  margin: 20px auto;
  text-align: left;
}

.canada-map-click-icons{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 60%;
  margin: auto;
  align-items: center;
  margin-bottom: 50px;
}

.canada-map-click-icons a{
  text-decoration: none;
  align-items: center;
}

.canada-map-click-card{
  display: flex;
  align-items: center;
}

.canada-map-click-card-icon img{
  max-width: 50px;
  margin-right: 20px;
}

.canada-map-click-card-name{
  color: #644A53;
  font-size: 10pt;
  font-weight: 500;
  text-align: left;
}

.canada-map-click-card-name p{
  margin: 10px;
  max-width: 100px;
}

/* ***************************************** */
/* ***************************************** */
/*              Newsletter                   */
/* ***************************************** */
/* ***************************************** */

.newsletter-intro h2{
  color: #ca7342;
  margin-top: 50px;
}

.newsletter-image img{
  max-width: 12rem;
}

.newsletter-form-email input{
  min-width: 80%;
  margin: 20px 10px;
  padding: 20px;
  background-color: #F4F8FF;
  color: #644A53;
  border: 0;
  border-radius: 50px;
}

.newsletter-form-submitBtn button{
  font-family: Montserrat;
  background-color: #ffeda7;
  color: #644A53;
  padding: 20px 30px;
  border-radius: 50px;
  border: 0;
  font-weight: bold;
  letter-spacing: 1px;
  margin-bottom: 70px;
}

/* ***************************************** */
/* ***************************************** */
/*                 Footer                    */
/* ***************************************** */
/* ***************************************** */

footer{
  background-color: #F4F8FF;
  color: #644A53;
}

.site-footer1 .site-logo img{
  max-width: 7rem;
  padding-top: 20px;
}

.footer1-text{
  max-width: 90%;
  padding: 30px 10px;
  color: #644A53;
  border-bottom: 1px solid #644A53;
  margin: auto;

}

p.footer2-text1{
  margin-top: 30px;
  /* font-size: 10pt; */
}

@media (min-width: 781px) {
  .footer1-text{
    max-width: 80%;
    font-size: 10pt;
  }
  .site-footer2{
    display: flex;
    font-size: 10pt;
    max-width: 80%;
    margin: auto;
    align-items: center;
    justify-content: space-between;
  }
  p.footer2-text1{
    margin-top: auto;
    /* font-size: 10pt; */
  }
  p.footer1-text{
    padding-left: 0;
    padding-right: 0;
  }
}
/* ***************************************** */
/* ***************************************** */
/*               Canada Map                  */
/* ***************************************** */
/* ***************************************** */


svg {
  background: white;
  max-width: 100%;
  height: auto;
}

.state {
  fill: #F4F8FF;
  stroke: #B2D8FF;
  stroke-width: 1;
}

.selected {
  fill: #FFEDA7;
  stroke: #CA7342;
  stroke-width: 2;
}

.state-label{
  font-size: 10pt;
}

/* ***************************************** */
/* ***************************************** */
/*             Discovery Page                */
/* ***************************************** */
/* ***************************************** */

.disc-main-intro{
  max-width: 60%;
  margin: auto;
}

.disc-main-intro .intro-heading{
  color: #CA7342;
}

.disc-main-intro .intro-text{
  color: #644A53;
}

/* *******************Search and Filter********************* */

.disc-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 90%;
  margin: auto;
}

.disc-nav-search{
  max-width: 30%;
  height: auto;
}
.navigation-filter{
  max-width: 50%;
  height: auto;
}

.disc-navigation img{
  max-width: 17%;
  height: auto;
}

.navigation-filter button{
  border: 0;
  background-color: white;
  display: flex;
  justify-content: flex-end;
  /* margin-left: 50px; */
}

.navigation-filter button img{
  max-width: 12%;
  /* height: 12%; */
  margin: auto 0px;
}

.navigation-filter button p{
  margin-left: 10px;
  font-size: 14pt;
  letter-spacing: 2px;
  color: #CA7342;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}

.site-disc-main-animalCards{
  display: flex;
  flex-direction: column;
}

.disc-main-aniCard{
  max-width: 90%;
  height: auto;
  margin: auto;
  background-color: #F4F8FF;
  margin-bottom: 40px;
  border-radius: 30px;
  text-align: left;
}

.disc-main-aniCard img{
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.aniCard-name{
  color: #644A53;
  font-size: 14pt;
}

.aniCard-location img, .aniCard-population img, .aniCard-status img{
  max-height: 25px;
}

.aniCard-location img{
  margin-left: 30px;
}
.aniCard-population img{
  max-height: 23px;
  margin-left: 29px;
}
.aniCard-status img{
  margin-left: 36.5px;
}

.aniCard-location-text p, .aniCard-population-text p, .aniCard-status-text p{
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  letter-spacing: 0.5px;
  color: #644A53;
}

.aniCard-location-text p{
  margin: auto 0 auto 30px;
}

.aniCard-population-text p{
  margin: auto 0 auto 29px;
}

.aniCard-status-text p{
  margin: auto 0 auto 25px !important;
}

.aniCard-location, .aniCard-population, .aniCard-status{
  display: flex;
  margin-bottom: 20px;
}

.aniCard-more-button{
  display: flex;
  margin-left: 25px;
}

#readMoreBtn{
  margin-bottom: 30px;
  /* max-width: 50%; */
  background-color: #F4F8FF;
  border: 0;
  font-size: 14pt;
  letter-spacing: 2px;
  font-weight: 800;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  color: #CA7342;
}

.discLoadMore-button button{
  color: #644A53;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  background-color: #fff;
  font-size: 12pt;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 15px 25px;
  border-radius: 50px;
  border: 5px solid #ffeda7;
  margin-top: 25px;
  margin-bottom: 60px;
}

.animalDet-sciName-text{
  color: #644A53;
}

.discDet-main-animalDet{
  text-align: left;
  max-width: 90%;
  margin: auto;
}

.animalDet-heading{
  color: #CA7342;
}

.animalDet-name{
  color: #CA7342;
}

.animalDet-sciName-text{
  font-size: 10pt;
  color: grey;
}

.animalDet-status-text{
  font-family: Montserrat;
  background-color: #ffeda7;
  color: #644A53;
  width: fit-content;
  padding: 20px 30px;
  border-radius: 50px;
  border: 0;
  font-weight: bold;
  letter-spacing: 1px;
  margin: 50px auto;
}

.animalDet-average{
  display: flex;
  justify-content: space-between;
}

.animalDet-average h3{
  font-weight: 400;
  font-size: 10pt;
  color: #CA7342;
  margin-bottom: 0;
}

.animalDet-average p{
  font-weight: bold;
  font-size: 18pt;
  color: #644A53;
  margin-top: 10px;
}

.animalDet-threats{
  display: flex;
  color: #644A53;
}

.animalDet-threats h3{
  font-size: 12pt;
  margin-right: 5px;
}

.animalDet-description{
  color: #644A53;
  font-size: 10pt;
  margin-bottom: 50px;
}


.discDet-main-popChart{
  padding: 50px 10px;
  background-color: #F4F8FF;
  text-align: left;
  margin-bottom: 70px;
}

.popChart-heading h3{
  color: #CA7342;
  font-size: 12pt;
  letter-spacing: 1px;
  max-width: 90%;
  margin: auto;
}

.popChart-text{
  display: flex;
  max-width: 90%;
  margin: auto;
  flex-direction: column;
}

.popChart-text h2{
  font-size: 12pt;
  color: #644A53;
  margin-right: 5px;
}

.popChart-text p{
  color: #644A53;
  margin: auto 0;
}

.highcharts-background{
  fill: #F4F8FF;
}

.highcharts-tracker-line{
  stroke: #CA7342;
  stroke-width: 1;
}

.highcharts-point{
  fill: #CA7342;
}

.highcharts-title{
  visibility: hidden;
}

.highcharts-axis-labels text{
  color: #644A53;
}

.whyMatter-heading h3{
  text-align: left;
  color: #CA7342;
  max-width: 90%;
  margin: 0 auto 30px auto;
  letter-spacing: 1px;
  font-size: 12pt;
}

.whyMatter-image{
  max-width: 90%;
  margin: auto;
}

.whyMatter-text{
  text-align: left;
  max-width: 90%;
  margin: 30px auto 20px auto;
  font-size: 10pt;
  color: #644A53;
  font-family: 'Montserrat', sans-serif;
}

.whyMatter-donate{
  display: flex;
  max-width: 90%;
  margin: auto;
}

.whyMatter-donate button{
  font-family: Montserrat;
  background-color: #ffeda7;
  color: #644A53;
  width: fit-content;
  padding: 16px 30px;
  border-radius: 50px;
  border: 0;
  font-size: 13pt;
  font-weight: bold;
  letter-spacing: 1px;
  margin-bottom: 100px;
}

.discDet-main-relatedAnimals-heading{
  text-align: left;
  color: #CA7342;
  max-width: 90%;
  margin: 0 auto 70px auto;
  letter-spacing: 1px;
  font-size: 12pt;
}

.disc-nav-search-type input{
  background-image: url(img/ui_icons/PNG/ui_icons_search.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: 15px;
  background-position-y: 10px;
  text-indent: 20px;
  padding: 10px 10px 10px 15px;
  background-size: 15px;
  /* width: 150%; */
  border: none;
  border-radius: 25px;
  background-color: #F4F8FF;
  /* margin-top: 40px; */
}

.navigation-search-icon{
  display: none;
}

@media only screen and (max-width: 780px) {
  .site-logo img{
    margin: 20px;
  }
}

@media only screen and (min-width: 781px){
  .disc-main-image{
    position: relative;
  }

  .disc-main-intro{
    position: absolute;
    z-index: 1;
    width: 25%;
    top: 35%;
    left: 10%;
    text-align: left;
  }

  
  .disc-nav-search-type input{
    background-image: url(img/ui_icons/PNG/ui_icons_search.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: 20px;
    background-position-y: 20px;
    text-indent: 20px;
    padding: 20px 20px 20px 30px;
    background-size: 15px;
    width: 150%;
    border: none;
    border-radius: 25px;
    background-color: #F4F8FF;
    margin-top: 40px;
  }

  .navigation-search-icon{
    display: none;
  }

  .disc-nav-search-type input::placeholder{
    font-family: 'Montserrat', sans-serif;
    color: #644A53;
    font-weight: 550;
  }

  .site-disc-main-animalCards{
    /* display: flex; */
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 80%;
    margin: auto;
  }

  .disc-main-aniCard{
    margin: 40px 20px 10px 0;
    max-width: 22%;
  }

  .disc-main-aniCard:first-of-type{
    margin-left: 0;
  }

  .disc-main-aniCard:last-of-type{
    margin-right: 0;
  }

  .aniCard-name h2{
    font-size: 12pt;
    text-align: left;
    padding: 0 30px;
  }

  .aniCard-location-text p, .aniCard-population-text p, .aniCard-status-text p{
    font-size: 10pt;
    margin-left: 20px;
    /* align-self: center; */
  }

  .aniCard-more-button #readMoreBtn{
    font-size: 10pt;
  }

  .discLoadMore-button{
    text-align: left;
    max-width: 80%;
    margin: auto;
  }

  .discDet-main-relatedAnimals-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 90%;
    margin: auto;
    margin-bottom: 50px;
  }

}

@media (min-width: 781px){
  .discDetails-overview{
    display: flex;
    max-width: 85%;
    margin: 50px auto;
    text-align: left;
    justify-content: space-between;
  }

  .discDet-main-image{
    max-width: 45%; 
  }

  .animalDet-threats{
    display: none;
  }

  .discDet-main-animalDet{
    max-width: 45%;
    margin-right: 0;;
  }

  .animalDet-description-text{
    margin-top: 0;
  }

  .animalDet-heading{
    margin-top: 0;
    font-size: 12pt;
  }

  .animalDet-status-text{
    margin: 20px 0;
  }

  .discDet-main-popChart{
    padding: 50px 10%;
  }

  .discDet-main-whyMatter{
    display: grid;
    max-width: 80%;
    margin: auto;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.35fr 1fr 0.35fr;
  }
  .whyMatter-image{
    grid-column: 2/3;
    grid-row: 1/4;
    margin: 0;
  }
  .whyMatter-heading h3, .whyMatter-text, .whyMatter-donate{
    margin: 0;
  }
  .discDet-main-relatedAnimals-heading{
    max-width: 80%;
    margin-top: 50px;
    margin-bottom: 0;
  }
}


/* ***************************************** */
/* ***************************************** */
/*             Discovery Page                */
/* ***************************************** */
/* ***************************************** */

.articles-intro{
  max-width: 90%;
  margin: auto;
}

.articles-intro-heading h1{
  color: #CA7342;
  margin-bottom: 7px;
}

.articles-intro-text p{
  color: #644A53;
  letter-spacing: 0.2px;
  margin-top: 0;
}

.articles-image{
  margin-bottom: 70px;
}

.artCard-image, .artCard-name, .artCard-author, .artCard-description{
  max-width: 90%;
  margin: auto;
  text-align: left;
}

.artCard-name h2{
  color: #CA7342;
  margin-bottom: 10px;
}

.artCard-author p{
  color: #644A53;
  font-size: 10pt;
  font-weight: 600;
  margin-top: 0;;
}

.artCard-description p{
  color: #644A53;
  font-size: 10pt;
}

.artCard-more-button{
  text-align: left;
  max-width: 90%;
  margin: auto;
}

.artCard-more-button button{
  margin-bottom: 20px;
  background-color: #fff;
  border: 0;
  font-size: 14pt;
  letter-spacing: 2px;
  font-weight: 800;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  color: #CA7342;
  padding: 0;
}

.articles-LoadMore-button button{
  color: #644A53;
  text-transform: uppercase;
  background-color: #fff;
  font-size: 14pt;
  font-weight: bold;
  letter-spacing: 0.5px;
  padding: 10px 25px;
  border-radius: 50px;
  border: 4px solid #ffeda7;
  margin: 50px auto 50px auto;
}
@media only screen and (min-width: 780px){
  .articles-block{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
  }

  .articles-image img{
    width: 100%;
  }

  .articles-artCard{
    max-width: 33.3%;
  }

  .articles-image{
    position: relative;
  }

  .articles-intro{
    position: absolute;
    z-index: 1;
    width: 27%;
    top: 35%;
    left: 15%;
    text-align: left;
  }

  .articles-intro h1, .articles-intro p{
    color: #fff;
  }

  .articles-LoadMore-button{
    text-align: left;
    max-width: 78%;
    margin: auto;
  }

}



/* ***************************************** */
/* ***************************************** */
/*              About Us Page                */
/* ***************************************** */
/* ***************************************** */

.aboutUs-intro{
  max-width: 60%;
  margin: auto;
}

.aboutUs-intro-heading{
  color: #CA7342;
}

.aboutUs-intro-text{
  color: #644A53;
}

.aboutUs-desc-heading{
  color: #CA7342;
  margin-top: 50px;
}

.aboutUs-desc-text{
  max-width: 90%;
  margin: auto;
  font-size: 10pt;
  color: #644A53;
}

.aboutUs-title{
  color: #CA7342;
  margin: 50px 0;
}

.aboutUs-card-image img{
  max-width: 90%;
  margin: auto;
  border-radius: 30px;
}

.aboutUs-card-name{
  color: #CA7342;
  font-size: 16pt;
  margin-bottom: 0;
}

.aboutUs-card-role{
  color: #644A53;
  font-size: 14pt;
  margin-top: -10px;
}

.aboutUs-card-desc{
  max-width: 90%;
  margin: auto;
  font-size: 10pt;
  color: #644A53;
}

.aboutUs-card-social{
  max-width: 90%;
  margin: auto;
  font-size: 12pt;
  color: #644A53;
  margin-bottom: 100px;
}

@media only screen and (min-width: 780px){
  .aboutUs-image{
    position: relative;
  }

  .aboutUs-intro{
    position: absolute;
    z-index: 1;
    width: 22%;
    top: 35%;
    left: 15%;
    text-align: left;
  }

  .aboutUs-desc{
    /* max-width: 60%; */
    padding: 20px 20% 50px 20%;
    background-color: #F4F8FF;
  }

  .aboutUs-block{
    display: flex;
    flex-wrap: wrap;
    max-width: 80%;
    margin: auto;
  }

  .aboutUs-card{
    max-width: 25%;
    /* padding: auto 50px; */
    text-align: left;
  }

  .aboutUs-card-desc{
    margin: 0;
  }

  .aboutUs-card-social{
    margin-left: 0;
  }
}

/* ***************************************** */
/* ***************************************** */
/*             Contact Us Page               */
/* ***************************************** */
/* ***************************************** */


.contact-intro-heading{
  max-width: 60%;
  margin: auto;
  color: #CA7342;
}

.contact-intro-text{
  color: #644A53;
  max-width: 80%;
  margin: auto;
  font-weight: 500;
}

.contact-desc-heading{
  max-width: 90%;
  text-align: left;
  margin: auto;
  color: #CA7342;
}

.contact-desc-text{
  max-width: 90%;
  text-align: left;
  margin: auto;
  color: #644A53;
  font-size: 10pt;
  margin-bottom: 30px;;
}

.contact-contactForm{
  text-align: left;
  margin-left: 3.75%;
}

.contact-contactForm input{
  width: 85%;
  margin: auto auto 20px auto;
  border: 0;
  background-color: #F4F8FF;
  padding: 15px;
  border-radius: 50px;
}

.contact-contactForm-details textarea{
  width: 85%;
  margin: 20px auto 20px auto;
  border: 0;
  background-color: #F4F8FF;
  padding: 20px 15px 300px 20px;
  border-radius: 30px;
}



.contact-contactForm button{
  font-family: Montserrat;
  text-transform: uppercase;
  background-color: #ffeda7;
  color: #644A53;
  padding: 15px 30px;
  border-radius: 50px;
  border: 0;
  font-weight: bold;
  letter-spacing: 1px;
  margin-bottom: 70px;
}

.contact-location-heading{
  color: #CA7342;
  text-align: left;
  max-width: 90%;
  margin: 0 auto;
}

.contact-location-text{
  color: #644A53;
  text-align: left;
  max-width: 90%;
  margin: 10px auto;
  font-size: 10pt;
}

.contact-location-map{
  margin: 50px auto;
}

.contact-location-info-add, .contact-location-info-phone{
  display: flex;
  margin-bottom: 20px;
}

.contact-location-info-add img{
  margin-left: 30px;
  max-height: 25px;
}

.contact-location-info-add p{
  margin: auto 0 auto 30px;
}

.contact-location-info-phone img{
  margin-left: 36.5px;
  max-height: 25px;
}

.contact-location-info-phone p{
  margin: auto 0 auto 25px;
}

.contact-location-info-add p, .contact-location-info-phone p{
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  text-align: left;
  font-size: 10pt;
  letter-spacing: 0.5px;
  color: #644A53;
}

@media only screen and (min-width: 780px){
  .contact-image{
    position: relative;
    transform: scaleX(-1);
  }

  .contact-intro{
    position: absolute;
    z-index: 1;
    width: 40%;
    top: 35%;
    left: 13.5%;
    text-align: left;
  }

  .contact-intro-heading, .contact-intro-text{
    margin: 0;
  }

  .contact-intro p{
    width: 90%;
  }

  .contact-desc{
    max-width: 80%;
    margin: 50px auto;
  }

  .contact-contactForm{
    max-width: 73%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
  }

  .contact-contactForm-firstName, .contact-contactForm-lastName{
    flex-grow: 1;
    width: 50%;
  }

  .contact-contactForm-email, .contact-contactForm-where, .contact-contactForm-details{
    min-width: 100%;
    flex-grow: 1;
    margin-right: 0;
  }
}



/* ***************************************** */
/* ***************************************** */
/*              Donations Page               */
/* ***************************************** */
/* ***************************************** */

.donate-intro-heading{
  max-width: 80%;
  margin: auto;
  color: #CA7342;
}

.donate-intro-text{
  color: #644A53;
  max-width: 55%;
  margin: auto;
  font-weight: 500;
}

.donate-image{
  margin-top: 50px;
  margin-bottom: 0;
}

.donate-main{
  /* background-color: #F4F8FF; */
  margin-top: -20px;
  padding-top: 50px;
  padding-bottom: 70px;
}

.donate-desc-heading{
  max-width: 85%;
  margin: auto;
  color: #CA7342;
}

.donate-desc-text{
  max-width: 80%;
  margin: auto;
  color: #644A53;
  font-size: 11pt;
  font-weight: 500;
  margin-bottom: 70px;
}

.donate-card-image{
  max-width: 35%;
  margin: auto;
}

.donate-card-name{
  color: #CA7342;
}

.donate-card-desc{
  max-width: 80%;
  margin: auto;
  color: #644A53;
  font-size: 10pt;
}

.donate-how {
  padding-bottom: 70px;
  background-color: #F4F8FF;
}

.donate-how-heading{
  color: #CA7342;
  /* margin-top: 70px; */
  max-width: 80%;
  margin: 70px auto 0 auto;
}

.donate-card-link{
  margin-top: 30px;
  margin-bottom: 70px;
}

.donate-card-link a{
  text-decoration: none;
  color: #CA7342;
  font-weight: 600;
}

.donate-how-text{
  font-size: 10pt;
  max-width: 85%;
  margin: auto;
  color: #644A53;
}

.donate-how-amount{
  color: #644A53;
  width: 82%;
  margin: auto;
}

.donate-how-amount-text{
  font-size: 10pt;
}

.donate-how-image{
  max-width: 90%;
  margin: auto;
  margin-top: 50px;
}

.donate-button button{
  color: #644A53;
  max-width: 50%;
  margin: auto;
  background-color: #ffeda7;
  padding: 12px 25px;
  border-radius: 50px;
  text-transform: uppercase;
  font-size: 12pt;
  font-weight: bold;
  border: 0;
  letter-spacing: 2px;
  margin-top: 30px;
  margin-bottom: 70px;
}

@media only screen and (min-width: 780px){
  .donate-image{
    position: relative;
  }

  .donate-intro{
    position: absolute;
    z-index: 1;
    width: 40%;
    top: 35%;
    left: 10%;
    text-align: left;
  }

  .donate-intro h1, .donate-intro p{
    color: #fff;
  }

  .donate-intro-heading, .donate-intro-text{
    margin: 0;
    /* margin-top: 0; */
  }

  .donate-how{
    padding-top: 70px;
  }

  .donate-how-heading{
    margin-top: 0;
  }

  .donate-how-text{
    max-width: 54%;
    margin: auto;
  }

  .donate-how-amount{
    display: flex;
    max-width: 70%;
    justify-content: space-between;
  }

  .donate-how-amount-desc .donate-how-amount-text{
    max-width: 65%;
    margin: auto;
  }

  .donate-how-image img{
    max-width: 60%;
  }

  .donate-main{
    display: flex;
    max-width: 80%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: auto;
    align-items: flex-end;
  }

  .donate-desc{
    width: 100%;
    flex-grow: 1;
  }
  .donate-card{
    max-width: 30%;
  }
}