@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

body{
  min-width: 100%;
  height: auto;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

p{
  line-height: 1.5;
}

h1, h2, h3{
  text-transform: capitalize;
}

input::placeholder{
  font-family: "Montserrat", sans-serif;
}

img{
  max-width: 100%;
  height: auto;
}

a{
  text-decoration: none;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}





.site-logo img{
  max-width: 3em;
  height: auto;

  margin: 20px 20px 20px 0;

  z-index: 1;
}

/* *******************  NAVIGATION  ********************* */

.toolbar {
  /* position: fixed; */
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background: transparent;
  z-index: 1;
  min-width: 100%;
  /*padding: auto;*/
}

.toolbar-nav{
  display: flex;
  align-items: center;
  
}

.toolbar-nav-items a{
  color: #644A53;
  text-decoration: none;
  font-size: 22px;
}


.toolbar-nav-items ul{
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  /* justify-content: space-around; */
}
.spacer{
  flex: 1;
}

.toolbar-nav-items li{
  padding: 0 1rem;
}

.toggle-button{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  margin: 1rem;
  align-items: flex-end;
  background: transparent;
  border: none;
  cursor: pointer;
  z-index: 1;
}

.toggle-button:focus{
  outline: none;
}

.toggle-line{
  width: 30px;
  height: 2px;
  background: #644A53;
}

.toggle-middle-line{
  width: 15px;
  height: 2px;
  background: #644A53;
}

.close-button-first-line{
  width: 30px;
  position: fixed;
  height: 2px;
  background: #644A53;
  transform: rotate(45deg);
}

.close-button-second-line{
  width: 30px;
  height: 2px;
  background: #644A53;
  margin-bottom: 10px;
  transform: rotate(-45deg);
}

.mobile-menu{
  height: 100%;
  background-color: #F4F8FF;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
}

.mobile-menu.open{
  transform: translateX(0);
  z-index: 2;
}



.mobile-menu-head .site-logo img{
  display: flex;
}

.mobile-menu-nav ul li a{
  text-decoration: none;
  color: #CA7342;
  font-weight: bold;
  font-size: 18pt
}

.mobile-menu-nav ul{
  list-style-type: none;
  display: flex;
  flex-direction: column;
  height: 80%;
  padding-left: 0;
}

.mobile-menu-nav ul li{
  margin-bottom: 45px;
}

.mobile-menu-nav ul li:first-of-type{
  margin-top: 50px;
}

.donate-button a{
  color: #644A53 !important;
  max-width: 40%;
  /* margin: auto; */
  /* margin-top: 100p; */
  background-color: #ffeda7;
  padding: 20px 20px 20px 20px;
  border-radius: 50px;
  text-transform: uppercase;
  font-size: 12pt !important;
  letter-spacing: 2px;
}

button.close-button{
  margin: 40px 30px;
  border: none;
  background-color: transparent;
  position: absolute;
  top: 0;
  z-index: 2;
  right: 0;
}

@media only screen and (max-width: 780px) {
  .toolbar-nav-items{
    display: none;
  }
}

@media only screen and (min-width: 781px) {
  .mobile-menu, .toggle-button{
    display: none;
  }

  .toolbar-nav{
    max-width: 80%;
    margin: auto;
  }

  .toolbar-nav-items a{
    color: #644A53;
    text-decoration: none;
    font-size: 12pt;
    font-weight: 600;
  }

  .toolbar-nav-items a:hover{
    box-shadow: 0px 4.05px 0px -1px #644A53;
  }

  .donate-desktop-button a{
    color: #644A53 !important;
    max-width: 40%;
    background-color: #ffeda7;
    padding: 12pt 24pt 12pt 24pt;
    border-radius: 50px;
    text-transform: uppercase;
    font-size: 12pt !important;
    font-weight: 600;
    letter-spacing: 2px;
  }

  .donate-desktop-button a:hover, .contact-contactForm button:hover, .newsletter-form-submitBtn button:hover{
    box-shadow: 4.05px 4.05px 20.24px #FFEDA7;
  }

  
}

/* ***************************************** */
.home-main-intro{
  max-width: 75%;
  margin: auto;
}

.home-main-intro .intro-heading{
  color: #CA7342;
}

.home-main-intro .intro-text{
  color: #644A53;
}

.home-main-map-title{
  max-width: 90%;
  margin: auto;
  margin-top: 40px;
}

.home-main-map-title .home-main-map-title-heading{
  color: #CA7342;
}

.home-main-map-title .home-main-map-title-text{
  color: #644A53;
}

/* ***************************************** */
/* ***************************************** */
/*             Action Cards                  */
/* ***************************************** */
/* ***************************************** */

.home-main-action{
  background-color: #F4F8FF;
}

.home-main-action h2{
  color: #ca7342;
  margin: 0;
  font-size: 26pt;
  padding-bottom: 50px;
}

.home-main-action h2:first-of-type{
  margin-bottom: 0;
  padding-top: 45px;
  padding-bottom: 5px;
}

.action-block a{
  text-decoration: none;
}

.home-main-action h3, .home-main-action p{
  color: #644A53;
}

.home-main-action p{
  max-width: 60%;
  margin: auto;
  font-size: 12pt;
}

.home-main-action img{
  max-width: 10rem;
  height: auto;
}

p.action-block-desc{
  margin-bottom: 30px;
  line-height: 1.5;
}

.home-main-action .home-main-action-block .action-block-desc:nth-child(3){
  padding-bottom: 50px;
}
@media only screen and (min-width: 781px) {
  .action-block {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;

  }
  .action-block a{
    margin: auto;
  }
}
/* ***************************************** */
/* ***************************************** */
/*                   Map                     */
/* ***************************************** */
/* ***************************************** */

svg g{
  max-width: 100%;
  height: auto;
}
.canada-map{
  height: 300px;
}

.canada-map svg g text{
  /*visibility: hidden;*/
  font-size: .6rem;
}
.canada-map-click-active svg g text{
  font-size: .6rem;
}

.canada-map-click-habitat p{
  font-weight: 600;
  color: #644A53;
  max-width: 60%;
  margin: -30px auto 20px auto;
  text-align: center;
}

.canada-map-click-icons{
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-around;
  flex-direction: column;
  max-width: 90%;
  margin: auto;
  align-items: center;
  margin-bottom: 50px;
}

.canada-map-click-icons a{
  text-decoration: none;
  align-items: center;
}

.canada-map-click-card{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.canada-map-click-card-icon img{
  max-width: 60px;
  margin-left: 30px;
  /* margin-right: px; */
}

.canada-map-click-card-name{
  color: #644A53;
  font-size: 10pt;
  font-weight: 500;
  text-align: left;
}

.canada-map-click-card-name p{
  margin: 10px;
  max-width: 100px;
}

/* ***************************************** */
/* ***************************************** */
/*              Newsletter                   */
/* ***************************************** */
/* ***************************************** */

.newsletter-intro{
  max-width: 80%;
  margin: auto;
}

.newsletter-intro h2{
  color: #ca7342;
  margin-top: 50px;
}

.newsletter-intro p{
  color: #644A53;
}

.newsletter-image img{
  max-width: 12rem;
}

.newsletter-form{
  margin-top: 20px;
}

.newsletter-form-email input{
  min-width: 80%;
  margin: 20px 10px;
  padding: 20px;
  background-color: #F4F8FF;
  color: #644A53;
  border: 0;
  border-radius: 50px;
}

.newsletter-form-submitBtn button{
  font-family: Montserrat;
  background-color: #ffeda7;
  color: #644A53;
  padding: 20px 30px;
  border-radius: 50px;
  border: 0;
  font-weight: bold;
  letter-spacing: 2px;
  margin-bottom: 70px;
}

@media only screen and (min-width: 781px) {
  .home-main-image{
    position: relative;
  }
  .canada-map {
     height: 700px;
  }

  .home-main-intro{
    position: absolute;
    z-index: 1;
    /* width: 30%; */
    top: 38%;
    left: 10%;
    text-align: left;
  }

  .home-main-intro .intro-heading{
    font-size: 3.5vw;
    width: 60%;
    margin-bottom: 10px;
    margin-top: 0;
  }

  .home-main-intro .intro-text{
    font-size: 1.5vw;
    font-weight: 500;
    width: 52%;
    margin-top: 10px;
    margin-bottom: 0;
  }
  
  .home-main-map{
    margin-top: 50px;
  }

  .canada-map-click-icons{
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    flex-direction: row;
    max-width: 90%;
    margin: auto;
    align-items: center;
    margin-bottom: 50px;
  }

  .home-main-map-title{
    width: 60%;
  }

  .home-main-map-title-heading{
    font-size: 24px;
  }

  .home-main-map-title-text{
    font-size: 15pt;
    font-weight: 500;
    line-height: 1.5;
  }

  .home-main-newsletter{
    display: grid;
    grid-template-columns: 1.3fr 2fr;
    grid-template-rows: 1fr 1fr;
    width: 90%;
    margin: 50px auto;
  }

  .newsletter-image{
    grid-column: 1/2;
    grid-row: 1/3;
    margin: auto;
  }

  .newsletter-intro{
    text-align: left;
    margin-bottom: 0;
    margin-left: 0;
    align-self: end;
  }

  .newsletter-intro h2{
    font-size: 26pt;
    font-weight: 600;
    margin-bottom: 0;
    text-transform: capitalize;
  }

  .newsletter-intro p{
    color: #644A53;
    font-size: 15pt;
    font-weight: 500;
    margin-top: 10px;
  }

  .newsletter-form{
    display: flex;
    text-align: left;
    align-items: center;
    justify-content: flex-start;
    /* margin-right: 100px; */
  }

  .newsletter-form-email{
    flex-grow: 1;
    margin-right: -30px;
    max-width: 75%;
  }

  .newsletter-form-email input{
    margin: 0;
    /* padding-right: 40px; */
  }


  .newsletter-form-submitBtn button{
    margin-bottom: 0;
    /* margin-right: 100px; */
  }
}

/* ***************************************** */
/* ***************************************** */
/*                 Footer                    */
/* ***************************************** */
/* ***************************************** */

footer{
  background-color: #F4F8FF;
  color: #644A53;
  padding-bottom: 10px;
  margin-top: 100px;
}

.site-footer1 .site-logo img{
  max-width: 7rem;
  padding-top: 20px;
}

.footer1-text{
  max-width: 90%;
  padding: 30px 10px;
  color: #644A53;
  border-bottom: 1px solid #644A53;
  margin: auto;
  /* line-height: 1.5; */
}

.footer2-text2{
  max-width: 80%;
  margin: auto;
  /* line-height: 1.5; */
}

p.footer2-text1{
  margin-top: 30px;
  /* font-size: 10pt; */
}

@media (min-width: 781px) {
  .site-footer1 .site-logo img{
    margin: 20px 0 10px 0;
  }

  .footer1-text{
    max-width: 40%;
    font-size: 10pt;
    font-weight: 500;
    line-height: 1.5;
  }
  .site-footer2{
    display: flex;
    font-size: 10pt;
    max-width: 80%;
    margin: 20px auto;
    align-items: center;
    justify-content: space-between;
  }
  p.footer2-text1{
    margin-top: auto;
    /* font-size: 10pt; */
  }
  p.footer1-text{
    padding: 0 20% 20px 20% !important;
  }

}
/* ***************************************** */
/* ***************************************** */
/*               Canada Map                  */
/* ***************************************** */
/* ***************************************** */


svg {
  background: white;
  max-width: 100%;
  height: auto;
}

.state {
  fill: #F4F8FF;
  stroke: #B2D8FF;
  stroke-width: 1;
}

.selected {
  fill: #FFEDA7;
  stroke: #CA7342;
  stroke-width: 2;
}

.state-label{
  font-size: 10pt;
}

/* ***************************************** */
/* ***************************************** */
/*             Discovery Page                */
/* ***************************************** */
/* ***************************************** */

.disc-main-intro{
  max-width: 60%;
  margin: auto;
}

.disc-main-intro .intro-heading{
  color: #CA7342;
  /* font-size: 20px; */
}

.disc-main-intro .intro-text{
  color: #644A53;
}

/* *******************Search and Filter********************* */

.disc-main-nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  max-width: 90%;
  margin: 40px auto;
  align-items: center;
}



.disc-main-nav .filter-spacer{
  flex-grow: 1;
}

.disc-nav-search{
  /* max-width: 30%; */
  height: auto;
}
.navigation-filter{
  max-width: 50%;
  height: auto;
}

.disc-main-navigation img{
  max-width: 17%;
  height: auto;
}

.navigation-filter button{
  border: 0;
  background-color: white;
  display: flex;
  justify-content: flex-end;
  /* margin-left: 50px; */
}

.toggle-filter-button img{
  max-width: 26px;
  /* height: 12%; */
  margin: auto 0px;
}


.toggle-filter-button{
  display: flex;
  /* position: relative; */
  background-color: transparent;
  border: none;
  /* width: 50%; */
  justify-content: flex-end;
  align-items: center;
  /* left: 51%; */
}

.toggle-filter-button p{
  /* text-align: center; */
  margin: 0;
  font-size: 12pt;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #644A53;
  font-weight: 600;
  margin-left: 10px;
  display: none;
}

.navigation-filter button p{
  margin-left: 10px;
  font-size: 14pt;
  letter-spacing: 2px;
  color: #CA7342;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}

.mobile-filter-menu{
  height: 100%;
  background-color: #fff;
  position: fixed;
  margin: 0;
  top: 0;
  left: 0;
  height: 0;
  /* margin-right: 40px; */
  z-index: 3;
  /* visibility: hidden; */
  width: 100%;
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
}

.filter-header{
  display: flex;
  padding: 15px 5%;
  font-size: 14pt;
  margin-bottom: 40px;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1.5px;
  font-weight: 600;
  color: #CA7342;
  background-color: #F4F8FF;
}

.filter-header button div{
  background: #CA7342;
  height: 3px;
  width: 25px;
  margin-top: 5px; 
}

.filter-header button .close-button-first-line{
  position: absolute;
}

.mobile-filter-menu.open{
  /* visibility: visible; */
  height: 100%;
  transform: translateX(0);
  margin: 0;
  /* max-width: 90%; */
}

.mobile-filter-menu-form{
  max-width: 90%;
  margin: auto;
}

.mobile-filter-menu-form label{
  font-weight: 500;
}

.mobile-filter-menu-form ul{
  list-style-type: none;
  text-align: left;
  padding-left: 0;
  margin-top: 0;
}

.mobile-filter-menu-form a{
  text-decoration: none;
  color: #CA7342;
  font-weight: 600;
}

.mobile-filter-menu-form button{
  display: block;
  margin: 20px auto;
  /* letter-spacing: 2px; */
}


.mobile-filter-menu-form button:last-of-type{
  color: #644A53 !important;
  /* width: 100%; */
  background-color: #ffeda7;
  padding: 12pt 10pt;
  border-radius: 50px;
  border: none;
  text-transform: uppercase;
  font-size: 10.4pt !important;
  font-weight: 600;
  letter-spacing: 2px;
  margin: auto 0 auto 2%;
}

.mobile-filter-menu-form button:first-of-type{
  color: #644A53;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  background-color: #fff;
  font-size: 10.4pt;
  font-weight: bold;
  letter-spacing: 2px;
  padding: 12px 10px;
  border-radius: 50px;
  border: 3px solid #ffeda7;
  margin-top: 25px;
  margin-bottom: 60px;
  margin-right: 2%;
  /* width: 100%; */
}

.navigation-filter-list-head-risks{
  padding-top: 30px;
  border-top: 0.5px solid #644A53;
}

.navigation-filter-list-head-species, .navigation-filter-list-head-risks{
  margin-bottom: 15px;
}

.mobile-filter-menu-form label{
  color: #644A53;
}

.filter-species-items{
  padding-bottom: 20px;
}

.filter-species-items div, .filter-risks-items div{
  margin-bottom: 10px;
  font-size: 12px;
  display: flex;
  justify-content: space-between;
}

main{
  margin-top: 100px;
}

.site-disc-main-animalCards{
  display: flex;
  flex-direction: column;
  
}

.disc-main-aniCard{
  max-width: 90%;
  height: auto;
  margin: auto;
  background-color: #F4F8FF;
  margin-bottom: 40px;
  border-radius: 30px;
  text-align: left;
}


.disc-main-aniCard img{
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.aniCard-name{
  color: #644A53;
  font-size: 14pt;
  max-width: 82%;
  margin: auto;
  line-height: 1.5;
}

.aniCard-location img, .aniCard-population img, .aniCard-status img{
  max-height: 25px;
}

.aniCard-location img{
  margin-left: 30px;
}
.aniCard-population img{
  max-height: 23px;
  margin-left: 29px;
}
.aniCard-status img{
  margin-left: 36.5px;
}

.aniCard-location-text p, .aniCard-population-text p, .aniCard-status-text p{
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  letter-spacing: 0.5px;
  color: #644A53;
}

.aniCard-location-text p{
  margin: auto 0 auto 30px;
}

.aniCard-population-text p{
  margin: auto 0 auto 29px;
}

.aniCard-status-text p{
  margin: auto 0 auto 25px !important;
}

.aniCard-location, .aniCard-population, .aniCard-status{
  display: flex;
  margin-bottom: 20px;
}

.aniCard-more-button{
  display: flex;
  margin-left: 25px;
}

#readMoreBtn{
  margin-bottom: 30px;
  /* max-width: 50%; */
  background-color: #F4F8FF;
  border: 0;
  font-size: 14pt;
  letter-spacing: 2px;
  font-weight: 800;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  color: #CA7342;
}

.discLoadMore-button button{
  color: #644A53;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  background-color: #fff;
  font-size: 12pt;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 15px 25px;
  border-radius: 50px;
  border: 5px solid #ffeda7;
  margin-top: 25px;
  margin-bottom: 60px;
}

.animalDet-sciName-text{
  color: #644A53;
}

.discDet-main-animalDet{
  text-align: left;
  max-width: 90%;
  margin: auto;
}

.animalDet-heading{
  color: #CA7342;
  letter-spacing: 2px;
}

.animalDet-name{
  color: #CA7342;
}

.animalDet-sciName-text{
  font-size: 10pt;
  color: grey;
}

.animalDet-status-text{
  font-family: Montserrat;
  background-color: #ffeda7;
  color: #644A53;
  width: fit-content;
  padding: 20px 30px;
  border-radius: 50px;
  border: 0;
  font-weight: bold;
  letter-spacing: 1px;
  margin: 50px auto;
  text-transform: uppercase;
}

.animalDet-threats{
  display: none !important;
}

.animalDet-average{
  display: flex;
  justify-content: space-between;
}

.animalDet-average h3{
  font-weight: 400;
  font-size: 10pt;
  color: #CA7342;
  margin-bottom: 0;
}

.animalDet-average p{
  font-weight: bold;
  font-size: 18pt;
  color: #644A53;
  margin-top: 10px;
}

.animalDet-threats{
  display: flex;
  color: #644A53;
}

.animalDet-threats h3{
  font-size: 12pt;
  margin-right: 5px;
}

.animalDet-description{
  color: #644A53;
  font-size: 10pt;
  margin-bottom: 50px;
  line-height: 1.5;
}


.discDet-main-popChart{
  padding: 50px 10px;
  background-color: #F4F8FF;
  text-align: left;
  margin-bottom: 70px;
}

.popChart-heading h3{
  color: #CA7342;
  font-size: 12pt;
  letter-spacing: 2px;
  max-width: 90%;
  margin: auto;
  margin-bottom: 10px;
}

.popChart-text{
  display: flex;
  max-width: 90%;
  margin: auto;
  flex-direction: column;
}


.popChart-text-threat, .popChart-text-trend{
  display: flex;
  
}

.popChart-text-threat h2{
  margin-top: 2px;
}

.popChart-text h2{
  font-size: 12pt;
  color: #644A53;
  margin-right: 5px;
}

.popChart-text p{
  color: #644A53;
  margin: auto 0;
}

.highcharts-background{
  fill: #F4F8FF;
}

.highcharts-tracker-line{
  stroke: #CA7342;
  stroke-width: 1;
}

.highcharts-point{
  fill: #CA7342;
}

.highcharts-title{
  visibility: hidden;
}

.highcharts-axis-labels text{
  color: #644A53;
}

.whyMatter-heading h3{
  text-align: left;
  color: #CA7342;
  max-width: 90%;
  margin: 0 auto 30px auto;
  letter-spacing: 2px;
  font-size: 12pt;
}

.whyMatter-image{
  /* max-width: 90%; */
  margin: auto;
}

.whyMatter-text{
  text-align: left;
  max-width: 90%;
  margin: 30px auto 30px auto;
  font-size: 10pt;
  color: #644A53;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
}

.whyMatter-donate{
  display: flex;
  max-width: 90%;
  margin: auto;
  
}

.whyMatter-donate button{
  font-family: Montserrat;
  background-color: #ffeda7;
  color: #644A53;
  width: fit-content;
  padding: 16px 30px;
  border-radius: 50px;
  border: 0;
  font-size: 13pt;
  font-weight: bold;
  letter-spacing: 2px;
  /* margin-bottom: 100px; */
}

.discDet-main-relatedAnimals-heading{
  text-align: left;
  color: #CA7342;
  max-width: 90%;
  margin: 0 auto 70px auto;
  letter-spacing: 2px;
  font-size: 12pt;
  line-height: 1.5;
}

.disc-nav-search-type input{
  background-image: url(img/ui_icons/PNG/ui_icons_search.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: 15px;
  background-position-y: 10px;
  text-indent: 20px;
  padding: 10px 10px 10px 15px;
  background-size: 15px;
  /* width: 150%; */
  border: none;
  width: 45vw;
  border-radius: 25px;
  background-color: #F4F8FF;
  /* margin-top: 40px; */
}

.navigation-search-icon{
  display: none;
}

@media only screen and (max-width: 780px) {
  .site-logo img{
    margin: 20px;
  }

  .mobile-filter-menu-form button{
    width: 48%;
    display: initial;
  }

  
}

@media only screen and (min-width: 781px){
  .disc-main-image{
    position: relative;
  }

  .disc-main-nav{
    max-width: 80%;
  }
  
  .toggle-filter-button p{
    display: initial;
  }

  .disc-main-intro{
    position: absolute;
    z-index: 1;
    width: 30%;
    top: 42%;
    left: 10%;
    text-align: left;
  }

  .disc-main-intro .intro-heading{
    font-size: 1.7vw;
    /* width: 70%; */
    margin-bottom: 10px;
    margin-top: 0;
  }

  .disc-main-intro .intro-heading h1{
    margin-bottom: 10px;
    margin-top: 0;
  }

  .disc-main-intro .intro-text{
    font-size: 18px;
    font-weight: 500;
  }

  .disc-main-intro .intro-text p{
    margin-top: 10px;
  }
  
  .disc-nav-search-type input{
    background-image: url(img/ui_icons/PNG/ui_icons_search.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: 20px;
    background-position-y: 20px;
    text-indent: 20px;
    padding: 20px 20px 20px 30px;
    background-size: 15px;
    width: 19vw;
    border: none;
    border-radius: 25px;
    background-color: #F4F8FF;
    /* margin-top: 40px; */
  }

  .navigation-search-icon{
    display: none;
  }

  .disc-nav-search-type input::placeholder{
    font-family: 'Montserrat', sans-serif;
    color: #644A53;
    font-weight: 600;
  }

  .disc-main-filter-anicard.open{
    max-width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 3fr;
  }

  .mobile-filter-menu{
    /* height: 100%; */
    /* background-color: #F4F8FF; */
    position: relative;
    top: 0;
    left: 0;
    height: 0;
    margin-right: 40px;
    visibility: hidden;
    grid-column: 1/2;
    width: auto;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
  }

  .filter-header{
    display: none;
  }
  
  .mobile-filter-menu.open{
    visibility: visible;
    height: 300px;
    transform: translateX(0);
    margin-top: 40px;
    grid-column: 1/2;
  }

  .mobile-filter-menu-form{
    margin: 0;
    /* width: 100%; */
  }

  .mobile-filter-menu-form button:last-of-type{
    color: #644A53 !important;
    width: 100%;
    background-color: #ffeda7;
    padding: 12pt 24pt 12pt 24pt;
    border-radius: 50px;
    border: none;
    text-transform: uppercase;
    font-size: 11pt !important;
    font-weight: 600;
    letter-spacing: 2px;
  }
  
  .mobile-filter-menu-form button:first-of-type{
    color: #644A53;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    background-color: #fff;
    font-size: 11pt;
    font-weight: bold;
    letter-spacing: 2px;
    padding: 12px 22px;
    border-radius: 50px;
    border: 3px solid #ffeda7;
    margin-top: 25px;
    margin-bottom: 60px;
    width: 100%;
  }

  .site-disc-main-animalCards.open{
    display: flex;
    margin: 0;
    justify-content: space-between;
    min-width: 100%;
    grid-column: 2/3;
  }

  .site-disc-main-animalCards.open .disc-main-aniCard{
    max-width: 30%;
  }

  .toggle-filter-button{
    display: flex;
    /* position: relative; */
    background-color: transparent;
    border: none;
    /* width: 50%; */
    justify-content: flex-end;
    align-items: center;
    /* left: 51%; */
  }

  .toggle-filter-button p{
    /* text-align: center; */
    margin: 0;
    font-size: 12pt;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #644A53;
    font-weight: 600;
    margin-left: 10px;
  }

  .site-disc-main-animalCards{
    /* display: flex; */
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 80%;
    margin: auto;
    transition-property: flex;
    transition-duration: 1s;
    transition-delay: 2s;
  }

  .disc-main-aniCard{
    margin: 40px 0 10px 0;
    max-width: 30%;
  }

  .anicard-spacer{
    width: 30%;
  }


  .disc-main-aniCard:first-of-type{
    margin-left: 0;
  }

  .disc-main-aniCard:last-of-type{
    margin-right: 0;
  }

  .aniCard-name{
    max-width: 75%;
    /* min-height: 40px; */
    margin: auto;
  }

  .aniCard-name h2{
    font-size: 12pt;
    text-align: left;
    height: 36px;
    /* padding: 0 15px; */
  }

  .aniCard-location-text p, .aniCard-population-text p, .aniCard-status-text p{
    font-size: 9pt;
    margin-left: 20px;
    max-width: 90%;
    /* align-self: center; */
  }

  .aniCard-location-text{
    max-width: 80%;
    /* margin: auto; */
  }

  .aniCard-more-button #readMoreBtn{
    font-size: 10pt;
  }

  .discLoadMore-button{
    text-align: left;
    max-width: 80%;
    margin: auto;
    /* display: block; */
    grid-column: 2/3;

  }
  
  .popChart-heading h3{
    margin-left: 4%;
  }

  .popChart-text{
    margin-left: 4%;
  }


  .discDet-main-relatedAnimals-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 90%;
    margin: auto;
    margin-bottom: 50px;
  }

  #highcharts-rqgz9ty-0{
    margin-right: 0;
  }

  /* .chart{
    width: 90%
  } */

}

@media only screen and (min-width: 1200px){
  .disc-main-aniCard{
    margin: 40px 0 10px 0;
    max-width: 22%;
  }

  .anicard-spacer{
    width: 22%;
  }

  .disc-nav-search-type input{
    width: 34.5vw;
  }
}

@media (min-width: 781px){
  .discDetails-overview{
    display: flex;
    max-width: 80%;
    margin: 20px auto;
    margin-top: 150px;
    text-align: left;
    justify-content: space-between;
  }

  .discDet-main-image{
    max-width: 45%; 
  }

  .animalDet-threats{
    display: none;
  }

  .discDet-main-animalDet{
    max-width: 45%;
    margin-right: 0;
    margin-top: 0;
  }

  .animalDet-description-text{
    margin-top: 0;
    line-height: 1.5;
  }


  .animalDet-heading{
    margin-top: 0;
    font-size: 12pt;
  }

  .animalDet-status-text{
    margin: 20px 0;
  }

  .discDet-main-popChart{
    padding: 50px 10%;
  }

  .discDet-main-whyMatter{
    display: grid;
    max-width: 80%;
    margin: auto;
    grid-template-columns: 3.5fr 6.5fr;
    grid-template-rows: 0.35fr 1fr 0.15fr;
    margin-bottom: 100px;
  }
  .whyMatter-image{
    grid-column: 2/3;
    grid-row: 1/4;
    margin: 0;
  }
  .whyMatter-heading h3, .whyMatter-text, .whyMatter-donate{
    margin: 0;
  }
  .discDet-main-relatedAnimals-heading{
    max-width: 80%;
    margin-top: 50px;
    margin-bottom: 0;
  }

  .discDet-main-relatedAnimals .discDet-main-relatedAnimals-cards{
    max-width: 80%;
    justify-content: space-between;
  }

  .discDet-main-relatedAnimals .discDet-main-relatedAnimals-cards .disc-main-aniCard{
    min-width: 30%;
  }


}


/* ***************************************** */
/* ***************************************** */
/*             Articles Page                */
/* ***************************************** */
/* ***************************************** */

.articles-intro{
  max-width: 90%;
  margin: auto;
}

.articles-intro-heading h1{
  color: #CA7342;
  margin-bottom: 7px;
  margin-top: 0;
}

.articles-intro-text p{
  color: #644A53;
  letter-spacing: 0.2px;
  margin-top: 0;
}

.articles-image{
  margin-bottom: 70px;
}

.artCard-image, .artCard-name, .artCard-author, .artCard-description{
  max-width: 90%;
  margin: auto;
  text-align: left;
}

.artCard-description{
  line-height: 1.5;
}

.artCard-image{
  height: 140px;
  overflow: hidden;
  /* margin-bottom: 10px; */
}

.artCard-name{
  margin-bottom: 10px;
}

.artCard-name h2{
  color: #CA7342;
  font-size: 18pt;
}

.artCard-author p{
  color: #644A53;
  font-size: 10pt;
  font-weight: 600;
  margin-top: 0;
}

.artCard-description p{
  color: #644A53;
  font-size: 10pt;
  max-height: 70px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.artCard-more-button{
  text-align: left;
  max-width: 90%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 50px;
}

.artCard-more-button button{
  margin-bottom: 20px;
  background-color: #fff;
  border: 0;
  font-size: 12pt;
  letter-spacing: 2px;
  font-weight: 800;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  color: #CA7342;
  padding: 0;
}

.articles-LoadMore-button button{
  color: #644A53;
  text-transform: uppercase;
  background-color: #fff;
  font-size: 14pt;
  font-weight: bold;
  letter-spacing: 0.5px;
  padding: 10px 25px;
  border-radius: 50px;
  border: 4px solid #ffeda7;
  margin: 50px auto 50px auto;
}
@media only screen and (min-width: 780px){
  .articles-block{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
  }

  .articles-intro .articles-intro-heading{
    font-size: 20px;
  }

  .articles-intro .articles-intro-heading h1{
    margin-bottom: 10px;
  }

  .articles-intro .articles-intro-text{
    font-size: 18px;
    font-weight: 500;
  }

  .articles-image img{
    width: 100%;
  }

  .articles-artCard{
    max-width: 33.3%;
  }

  .articles-image{
    position: relative;
  }

  .articles-intro{
    position: absolute;
    z-index: 1;
    width: 35%;
    top: 42%;
    left: 10%;
    text-align: left;
  }

  .articles-intro .articles-intro-heading{
    font-size: 1.7vw;
    /* width: 70%; */
    margin-bottom: 10px;
    margin-top: 0;
  }

  .artCard-name h2{
    /* white-space: nowrap; */
    /* max-height: 100px; */
    overflow: hidden;
    min-height: 60px;
    text-overflow: ellipsis;
    color: #CA7342;
    margin-bottom: 10px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  .articles-intro h1, .articles-intro p{
    color: #fff;
  }

  .articles-LoadMore-button{
    text-align: left;
    max-width: 78%;
    margin: auto;
  }

}



/* ***************************************** */
/* ***************************************** */
/*              About Us Page                */
/* ***************************************** */
/* ***************************************** */

.aboutUs-intro{
  max-width: 60%;
  margin: auto;
}

.aboutUs-intro-heading{
  color: #CA7342;
}

.aboutUs-intro-text{
  color: #644A53;
  font-weight: 500;
  line-height: 1.5;
}

.aboutUs-desc-heading{
  color: #CA7342;
  margin-top: 50px;
}

.aboutUs-desc-text{
  max-width: 90%;
  margin: auto;
  font-size: 10pt;
  color: #644A53;
  line-height: 1.5;
  /* font-weight: 500; */
}

.aboutUs-title{
  color: #CA7342;
  margin: 50px 0;
}
.aboutUs-desc{
  background-color: #F4F8FF;
  padding: 20px 20% 50px 20%;
}

.aboutUs-card{
  position: relative;
  margin-bottom: 50px;
}

.aboutUs-card-image img{
  max-width: 90%;
  margin: auto;
  border-radius: 30px;
}

.aboutUs-card-name h3{
  color: #CA7342;
  font-size: 16pt;
  margin-bottom: 0;
}

.aboutUs-card-role p{
  color: #644A53;
  font-size: 10pt;
  font-weight: 500;
  margin-top: 15px;
}

.aboutUs-card-desc{
  max-width: 90%;
  margin: auto;
  font-size: 10pt;
  color: #644A53;
  line-height: 1.5;
}

.aboutUs-card-social{
  max-width: 90%;
  margin: 25px auto 0px auto;
  font-size: 12pt;
  color: #644A53;

  display: flex;
  justify-content: center;
  /* position: absolute; */
  /* bottom: -23px; */
}

.aboutUs-card-social a img{
  max-width: 25px;
}

.aboutUs-card-social a:first-of-type{
  margin-right: 30px;
}
@media only screen and (min-width: 780px){
  .aboutUs-image{
    position: relative;
  }

  .aboutUs-intro{
    position: absolute;
    z-index: 1;
    width: 34%;
    top: 42%;
    left: 10%;
    text-align: left;
  }

  .aboutUs-intro .aboutUs-intro-heading{
    font-size: 1.7vw;
    /* width: 70%; */
    margin-bottom: 10px;
    margin-top: 0;
    
  }
  
  .aboutUs-intro .aboutUs-intro-heading h1{
    margin-bottom: 10px;
    margin-top: 0;
  }

  .aboutUs-intro .aboutUs-intro-text{
    font-size: 18px;
    font-weight: 500;
    line-height: 1.5;
  }

  .aboutUs-desc{
    /* max-width: 60%; */
    padding: 20px 20% 50px 20%;
    background-color: #F4F8FF;
  }

  .aboutUs-block{
    display: flex;
    flex-wrap: wrap;
    max-width: 80%;
    margin: auto;
    justify-content: space-between;
    margin-bottom: 50px;
  }

  .aboutUs-card{
    max-width: 20%;
    /* padding: auto 50px; */
    text-align: left;
    margin: 30px 2.5%;
    margin-bottom: 70px;
  }

  .aboutUs-card-desc{
    margin: 0 0 25px 0;
  }

  .aboutUs-card-social{

    max-width: 90%;
    margin: 25px auto 0 0;
    font-size: 12pt;
    color: #644A53;

    display: flex;
    position: absolute;
    bottom: -23px;
  }
}

/* ***************************************** */
/* ***************************************** */
/*             Contact Us Page               */
/* ***************************************** */
/* ***************************************** */


.contact-intro-heading{
  max-width: 60%;
  margin: auto;
  color: #CA7342;
}

.contact-intro-text{
  color: #644A53;
  max-width: 80%;
  margin: auto;
  font-weight: 500;
}

.contact-desc-heading{
  max-width: 90%;
  text-align: left;
  margin: auto;
  color: #CA7342;
  margin-top: 50px;
}



.contact-desc-text{
  max-width: 90%;
  text-align: left;
  margin: auto;
  color: #644A53;
  font-size: 10pt;
  margin-bottom: 30px;;
}

.contact-contactForm{
  text-align: left;
  margin-left: 3.75%;
}

.contact-contactForm input{
  width: 85%;
  margin: auto auto 20px auto;
  border: 0;
  background-color: #F4F8FF;
  padding: 15px;
  border-radius: 50px;
}

.contact-contactForm-details textarea{
  width: 85%;
  margin: 20px auto 0 auto;
  border: 0;
  background-color: #F4F8FF;
  padding: 20px 15px 300px 20px;
  border-radius: 30px;
}

.contact-contactForm-details textarea::placeholder{
  font-family: 'Montserrat', sans-serif;
}

.contact-contactForm button{
  font-family: Montserrat;
  text-transform: uppercase;
  background-color: #ffeda7;
  color: #644A53;
  padding: 15px 30px;
  border-radius: 50px;
  border: 0;
  font-weight: bold;
  letter-spacing: 1px;
  margin-bottom: 70px;
  margin-top: 50px;
}

.contact-location-heading{
  color: #CA7342;
  text-align: left;
  max-width: 90%;
  margin: 0 auto;
}

.contact-location-text{
  color: #644A53;
  text-align: left;
  max-width: 90%;
  margin: 10px auto;
  font-size: 10pt;
}

.contact-location-map{
  margin: 50px auto;
  display: block;
  height: 400px;
}

.contact-location-info-add, .contact-location-info-phone{
  display: flex;
  margin-bottom: 20px;
}

.contact-location-info-add img{
  margin-left: 30px;
  max-height: 25px;
}

.contact-location-info-add p{
  margin: auto 0 auto 30px;
}


.contact-location-info-phone-icon img{
  margin-left: 30px;
  max-height: 25px;
}

.contact-location-info-phone-text p{
  margin: auto 0 auto 19px;
}

.contact-contactForm input{
  width: 85%;
  margin-bottom: 0;
  margin-top: 20px;
}


.contact-location-info-add p, .contact-location-info-phone p{
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  text-align: left;
  font-size: 10pt;
  letter-spacing: 0.5px;
  color: #644A53;
}

@media only screen and (min-width: 780px){
  .contact-image{
    position: relative;
    transform: scaleX(-1);
  }

  .contact-intro{
    position: absolute;
    z-index: 1;
    width: 45%;
    top: 40%;
    left: 10%;
    text-align: left;
  }

  .contact-intro .contact-intro-heading{
    font-size: 1.7vw;
    /* width: 70%; */
    margin-bottom: 10px;
    margin-top: 0;
  }

  .contact-intro-heading, .contact-intro-text{
    margin: 0;
  }

  

  .contact-intro p{
    font-size: 14pt;
    width: 90%;
  }

  .contact-desc{
    max-width: 80%;
    margin: 50px auto;
  }

  .contact-desc-heading, .contact-desc-text{
    margin-left: 0;
  }

  .contact-desc-heading{
    font-size: 18pt;
  }

  .contact-desc-text{
    font-size: 14pt;
    font-weight: 500;
  }

  .contact-location-heading, .contact-location-text{
    max-width: 80%;
    margin: auto;
  }

  .contact-contactForm{
    max-width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 6fr 1fr;
    height: calc(100vh - 10px);
    /* justify-content: space-between; */
  }

  .contact-contactForm-firstName, .contact-contactForm-lastName{
    /* flex-grow: 1; */
    grid-row: 1/2;
  }

  .contact-contactForm-firstName{
    grid-column: 1/2;
    width: 105%;
    /* padding-right: 35px; */
  }

  .contact-contactForm-lastName{
    grid-column: 2/3;
    width: 105%;
    position: relative;
    left: 2vw;
    /* margin-left: 100px; */
  }


  .contact-contactForm-email, .contact-contactForm-where, .contact-contactForm-details{
    width: 96.5%;
    /* flex-grow: 1; */
    margin-right: 0;
    grid-column: 1/3;
  }

  .contact-contactForm-email{
    grid-column: 1/3;
  }

  .contact-contactForm-lastName input{
    margin-left: 0px;
    margin-right: 0;
    position: relative;
    right: 10px;
    margin-top: 20px;
    /* margin-bottom: 0; */
  }
/* 
  .contact-contactForm-lastName{
    display: flex;
    justify-content: flex-end;
  } */

  .contact-contactForm-email input, .contact-contactForm-where input, .contact-contactForm-details textarea{
    width: 100%;
    margin-bottom: 0;
  }

  .contact-contactForm button{
    width: fit-content;
  }  

  .contact-location-info-add{
    width: 80%;
    margin: auto;
  }

  .contact-location-info-add-icon img{
    margin-left: 0;
  }

  .contact-location-info-phone-icon img{
    margin-left: 0px;
    max-height: 25px;
  }

  .contact-location-info-phone-text p{
    margin: auto 0 auto 26px;
  }

  .contact-location-info-phone{
    width: 80%;
    margin: 10px auto 40px auto;
  }
}



/* ***************************************** */
/* ***************************************** */
/*              Donations Page               */
/* ***************************************** */
/* ***************************************** */

.donate-intro-heading{
  max-width: 80%;
  margin: auto;
  color: #CA7342;
}

.donate-intro-text{
  color: #644A53;
  max-width: 55%;
  margin: auto;
  font-weight: 500;
}

.donate-image{
  /*margin-top: 50px;*/
  margin-bottom: 0;
}

.donate-main{
  /* background-color: #F4F8FF; */
  margin-top: -20px;
  padding-top: 50px;
  padding-bottom: 70px;
}

.donate-desc-heading{
  max-width: 85%;
  margin: auto;
  color: #CA7342;
}

.donate-desc-text{
  max-width: 80%;
  margin: auto;
  color: #644A53;
  font-size: 11pt;
  font-weight: 500;
  margin-bottom: 70px;
}

.donate-card-image{
  max-width: 35%;
  margin: auto;
}

.donate-card-name{
  color: #CA7342;
}

.donate-card-desc{
  max-width: 80%;
  margin: auto;
  color: #644A53;
  font-size: 10pt;
}

.donate-how {
  padding-top: 50px;
  padding-bottom: 70px;
  background-color: #F4F8FF;
}

.donate-how-heading{
  color: #CA7342;
  /* margin-top: 70px; */
  max-width: 80%;
  margin: 0 auto 0 auto;
}

.donate-card-link{
  margin-top: 10px;
  margin-bottom: 70px;
}

.donate-card:last-of-type .donate-card-link{
  margin-bottom: 0;
}

.donate-card-link a{
  text-decoration: none;
  color: #CA7342;
  font-weight: 600;
  letter-spacing: 1px;
}

.donate-how-text{
  font-size: 10pt;
  max-width: 85%;
  margin: auto;
  color: #644A53;
}

.donate-how-amount{
  color: #644A53;
  width: 82%;
  margin: auto;
}

.donate-how-amount-text{
  font-size: 10pt;
}

.donate-how-image{
  max-width: 90%;
  margin: auto;
  margin-top: 50px;
}

.donate-button button{
  color: #644A53;
  max-width: 50%;
  margin: auto;
  background-color: #ffeda7;
  padding: 12px 25px;
  border-radius: 50px;
  text-transform: uppercase;
  font-size: 12pt;
  font-weight: bold;
  border: 0;
  letter-spacing: 2px;
  margin-top: 30px;
  margin-bottom: 70px;
}



@media only screen and (min-width: 780px){
  .donate-image{
    position: relative;
  }

  .donate-intro{
    position: absolute;
    z-index: 1;
    width: 45%;
    top: 40%;
    left: 10%;
    text-align: left;
  }

  .donate-intro h1, .donate-intro p{
    color: #fff;
  }

  .donate-intro .donate-intro-heading{
    font-size: 1.7vw;
    /* width: 70%; */
    margin-bottom: 10px;
    margin-top: 0;
  }

  .donate-intro p{
    font-size: 16pt;

  }

  .donate-intro-heading, .donate-intro-text{
    margin: 0;
    /* margin-top: 0; */
  }

  .donate-intro-heading h1{
    margin-top: 0;
  }

  .donate-how{
    padding-top: 70px;
  }

  .donate-how-heading{
    margin-top: 0;
  }

  .donate-how-text{
    max-width: 54%;
    margin: auto;
  }

  .donate-how-amount{
    display: flex;
    max-width: 70%;
    justify-content: space-between;
  }

  .donate-how-amount-desc .donate-how-amount-text{
    max-width: 65%;
    margin: auto;
  }

  .donate-how-image img{
    max-width: 60%;
  }

  .donate-main{
    display: flex;
    max-width: 80%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: auto;
    align-items: flex-end;
  }

  .donate-desc{
    width: 100%;
    flex-grow: 1;
  }
  .donate-card{
    max-width: 30%;
  }

  .donate-card:last-of-type .donate-card-link{
    margin-bottom: 70px;
  }
}


/*not found page 404***********************************/
.site-not-found{
  margin-top: 20rem;
  font-size: 4rem;
}

/*newsletter response*/

#newsletter-submit{
  color: #CA7342;
  margin-top: 1rem;
}

/*contact form response*/

#response-submit{
  color: #644a53;
  margin: auto;
  font-size: 18px;
}

/*validate form*/

.validate-form{
  font-size: .8rem;
  color: red;
  display: block;
  /* margin: .5rem; */
  margin-left: 0.5rem;
}